[2017-07-13 14:55] bwentwor opened #2 "Deploying a BNA file to the Blockchain service"
A customer has requested that the documentation be augmented with information on Composer Business Network (BNA) file to Blockchain. See this post on Stack Overflow as well as the linked document in its answer: https://stackoverflow.com/questions/45072555/deploy-bna-file-on-ibm-bluemix-blockchain-service

[2017-07-21 15:39] wjzhengsh commented on #2
Answers and workaround can be found in dWAnswers.  For example, [Fabric composer integration with Bluemix blockchain service](https://stackoverflow.com/questions/42309207/fabric-composer-integration-with-bluemix-blockchain-service).

[2017-07-25 03:03] bwentwor commented on #2
No...Why isn't the information being included in the permanent documentation? I know it is in the forums! Please reopen.

[2017-10-10 08:23] rtang03 opened #6 "IBM Blockchain Enterprise Plan"
In the Enterprise Plan, is there a maximum of 6 peers per plan? and a maximum of 15 network members?

[2017-10-27 07:21] wjzhengsh commented on #6
One Enterprise Plan can provide a maximum of 6 peers per member, and you can have up to 15 members per network.

You can find more details here:

https://console.bluemix.net/docs/services/blockchain/get_start.html#creating-a-network
Now you're ready to deploy a Blockchain network that can support the following network resources:
-     A member-specific certificate authority (CA)
-     Default gove

[2017-11-16 16:33] wjzhengsh opened #12 "Rebrand Bluemix to IBM Cloud"
Cleanup is needed besides the conref changes.

- [x] knownissues.html
    **From**: `For support and help with your IBM Blockchain network on Bluemix, see Getting support.`
    **To**: `For support and help with your IBM Blockchain network on IBM Clound, see Getting support.`

- [x] ibmblockchain_support.html
    **From**: `There are several mechanisms available to obtain support and troubleshoot

[2017-11-16 16:37] wjzhengsh opened #13 "Revise content describing channel update request"
The `status` column shows the individual status, but not the channel overall status.  See this issue: https://github.ibm.com/IBM-Blockchain/ui-development/issues/1446.

[2017-11-16 16:50] wjzhengsh opened #14 "Correct the Documentation link in splash page"
https://console.bluemix.net/developer/blockchain/dashboard?env_id=ibm%3Ayp%3Aau-syd

The Documentation link should point to https://console.bluemix.net/docs/services/blockchain/index.html#ibm-blockchain-platform.
![image](https://user-images.githubusercontent.com/22021148/32903960-43a5c372-cb31-11e7-96ab-07e72e78b890.png)

[2017-11-16 16:54] wjzhengsh commented on #14
Mark Parzygnat reports the broken link to me.  I'm contacting design and UI dev team to make the correction.

[2017-11-17 09:34] wjzhengsh commented on #12
Updates are made in prod site.

[2017-11-17 09:34] #12 closed

[2017-12-13 02:18] #13 closed

[2017-12-13 02:19] wjzhengsh commented on #14
No splash page exists.  Close for now.

[2017-12-13 02:19] #14 closed

[2017-12-13 02:23] wjzhengsh opened #15 "TLS cert download link is broken"
https://console.bluemix.net/docs/services/blockchain/v10_application.html#generating-the-client-side-certificates

Second, download the TLS certs from [your IBM Cloud](http://blockchain-certs.mybluemix.net/3.secure.blockchain.ibm.com.rootcert) and save the contents to a folder, for example $HOME/tls. This step allows the data flowing to be encrypted on the wire.

[2017-12-14 06:36] wjzhengsh commented on #15
It works now.

[2017-12-14 06:37] #15 closed

[2018-01-30 18:54] farhan3 opened #16 "Typo"
In `enterprise_plan.md`, in the first paragraph, "found" should be "find".

[2018-01-31 01:33] wjzhengsh commented on #16
It's not a typo  :)  This "found" means to initiate a network.  Let me reword it to "create" so it won't be confusing.

Thank you for the comment!

[2018-01-31 01:33] #16 closed

[2018-01-31 01:37] wjzhengsh opened #17 "Need to update doc about SW defect issues"
From David Nguyen:

We've had some clients have trouble opening issues, specifically Bluemix accounts where they're linked to Softlayer.  In those cases, this doc is not accurate.

https://console.bluemix.net/docs/services/blockchain/ibmblockchain_support.html#ibmblockchain_support

We need to point them to the newer combined portal here which supports Bluemix and Softlayer clients.

https://ibm.b

[2018-01-31 02:45] wjzhengsh commented on #17
Making updates in staging doc: https://console.stage1.bluemix.net/docs/services/blockchain/ibmblockchain_support.html#software-defect-issues

[2018-03-19 15:05] wjzhengsh commented on #17
Done in prod.

[2018-03-19 15:05] #17 closed

[2018-03-19 15:07] wjzhengsh commented on #2
We have this information added for both Starter Plan Beta and Enterprise Plan networks.  Check out the instructions here:

- [Deploying a business network on Starter Plan](https://console.bluemix.net/docs/services/blockchain/develop_starter.html#deploying-a-business-networks-on-starter-plan)
- [Deploying a business network on Enterprise Plan](https://console.bluemix.net/docs/services/blockchain/de

[2018-03-19 15:07] #2 closed

[2018-04-19 15:21] sanjay-saxena opened #24 "Starter Plan documentation should include steps to create REST endpoints"
Currently, there are steps provided to help a developer create REST endpoints once the business network is started on the IBM Starter Plan instance.

Developers need to download the connection profile and use the admin-card created in the prior steps to be able to start the `composer-rest-server` to create REST endpoints for the deployed network. These steps are not intuitive and can easily flummo

[2018-04-19 15:26] sanjay-saxena opened #25 "Update documentation to install Hyperledger Composer 0.18.1"
This [link](https://console.bluemix.net/docs/services/blockchain/develop_install.html#installing-a-development-environment) instructs developers to install `composer-cli@next`. Which results in the installation of the latest Hyperledger Composer.

However, IBM Starter Plan is not compatible with the latest Hyperledger Composer. It seems like Hyperledger Composer 0.18.1 is the version that needs to

[2018-04-19 15:33] sanjay-saxena opened #26 "Include instructions to start composer-rest-server on IBM Cloud"
It would be good to provide detailed instructions based on Hyperledger Composer 0.18.1 to use `composer-rest-server` directly on IBM Cloud(instead of locally) to generate REST endpoints using the cloud-based card store that is available as part of the Starter Plan instance.

[2018-04-19 15:41] sanjay-saxena opened #27 "Include instructions to start composer-playground on IBM Cloud"
Please include detailed instructions/steps to start `composer-playground` as part of IBM Cloud to test/debug a network that is deployed to the Starter Plan. In this case, `composer-playground` will have to use the cloud-based card store.

[2018-04-19 17:43] sanjay-saxena opened #29 "Use UI to perform Step 3 -- Adding the certificates to the Starter Plan instance"
In this [link](https://console.bluemix.net/docs/services/blockchain/develop_starter.html#deploying-a-business-networks-on-starter-plan), `curl` is used to perform the smaller steps that make up `Step 3: Adding the certificates to the Starter Plan instance`. This requires the developer to figure out various placeholder tokens that need to be substituted before issuing the `curl` command. Also, the

[2018-04-19 19:04] sanjay-saxena opened #30 "Multiple organizations -- Clarify the org/connection-profile to be used in the steps"
Since each organization has it's own connection profile, this [doc](https://console.bluemix.net/docs/services/blockchain/develop_starter.html#deploying-a-business-networks-on-starter-plan) should clarify the following:

- Identify the organization and the corresponding connection-profile that needs to be used for each of the steps.
- Identify steps that need to be performed multiple times using di

[2018-04-20 20:08] sanjay-saxena opened #31 "PeerAdmin and NetworkAdmin using the same public/private keys"
In the instructions for [deploying  business networks on Starter Plan](https://console.bluemix.net/docs/services/blockchain/develop_starter.html#deploying-a-business-networks-on-starter-plan), it seems like the both Peer-Admin (created in Step 4) and the Network-Admin (created in Step 5) seem to be using the same public/private keys.

As per current instructions, it appears that the Peer-Admin and

[2018-04-23 23:20] sanjay-saxena opened #32 "Starting composer-playground to connect to a network running on Starter Plan instance results in errors"
Installed `composer-playground@0.18.1` locally on my laptop. After successfully deploying the car-auction business network identified by `Matterhorn Network - 4a` to the IBM Starter Plan instance and testing using the `composer-rest-server@0.18.1`, I started `composer-playground` from the same directory which contains the `connection-profile.json` for `org1` -- just like I did when testing with `c

[2018-05-03 18:29] sanjay-saxena commented on #29
Related [issue](https://github.com/IBM-Blockchain/vehicle-manufacture/issues/33) filed against vehicle-manufacture repo.

[2018-05-03 21:39] horeaporutiu commented on #25
Can be closed. Issue was addressed with this PR: https://github.com/IBM-Bluemix-Docs/blockchain/pull/23

[2018-05-03 21:39] horeaporutiu commented on #29
Issue can be closed, as it resolved with this PR: https://github.com/IBM-Bluemix-Docs/blockchain/pull/23

[2018-05-16 10:16] #25 closed

[2018-06-22 22:52] mataide opened #47 "Enterprise v.1.1"
Why you says to use composer 0.16.x on Enterprise?
https://github.com/IBM-Bluemix-Docs/blockchain/blob/master/develop_install.md

0.16.x are only for Fabric 1.0.

[2018-06-28 13:42] bwentwor opened #48 "Incorrect version information in the docs"
As indicated by a customer on Stack Overflow, the Blockchain indicates a previous version of Composer. See: https://stackoverflow.com/questions/50931436/network-deployed-in-ibm-cloud-but-having-an-issue-instantiating-the-chaincode

Please update the docs.

[2018-06-28 13:44] bwentwor commented on #48
@wjzhengsh @negupta Please update the docs.

[2018-07-02 13:59] wjzhengsh commented on #48
@EdProsser Would you take a look?

[2018-07-02 14:01] wjzhengsh commented on #47
@EdProsser Would you confirm?

[2018-07-02 14:02] wjzhengsh commented on #26
@EdProsser Would you take a look?

[2018-07-02 14:12] EdProsser commented on #48
@bwentwor @wjzhengsh What specifically needs updating? As far as I can see nothing needs updating. When they say "The blockchain indicates a previous version" that's because they were using an older incompatible version. The customer replied to their issue saying they updated to the correct composer version and everything worked.

Please reopen this issue if anything needs changing. Thanks!

[2018-07-02 14:12] #48 closed

[2018-07-03 11:36] EdProsser commented on #47
@mataide @wjzhengsh While you are correct that composer version 0.16.x is only for Fabric 1.0, all enterprise plan instances created at Fabric v1.0 have not yet been migrated to Fabric 1.1.

That said, all new instances of Enterprise plan are using Fabric 1.1, so the recommended composer version should also change.

[2018-07-11 10:02] EdProsser commented on #31
@pamandrejko This doesn't appear to be a docs issue. I think it needs some discussion with others.

[2018-07-11 10:06] lesleyannjordan commented on #32
@sanjay-saxena please can you clarify what documentation you have been following?  Is this still an issue? Starter plan has moved on to fabric 1.1 and correspondingly composer 0.19.x

[2018-07-11 10:06] EdProsser commented on #30
Ok, this might have some legs. Adding some information clarifying best practice for multi-orgs.

[2018-07-11 10:09] #29 closed

[2018-07-11 21:42] sanjay-saxena commented on #32
You are right that the Starter Plan has moved to HF 1.1. And, HC 0.19.X is the compatible version.

Here is the [tutorial](https://www.ibm.com/developerworks/cloud/library/cl-deploy-blockchain-starter-plan-network/index.html) that I used to deploy the network to the Starter Plan instance. It is based on HC 0.19.5. You can try to deploy a network using those steps and then try to connect to the net

[2018-07-12 08:07] lesleyannjordan commented on #32
Hi @sanjay-saxena please can you detail what IBP documentation changes you see suggesting requires updating, this is not clear from the description.

Please note it is not a recommended use case to use Plaground for interacting with an IBP instance such as Starter Plan or Enterprise.

[2018-07-12 17:55] sanjay-saxena commented on #32
I think it would be pretty common for teams to have separate IBP instances for -- `Development`, `Stage`, and `Production` -- environments. In such a scenario, it would make sense for a dev team to deploy a business network to their `Development` IBP instance and test it out by connecting to it using `composer-playground` that is running locally. Similarly, the QA team can test using the IBP insta

[2018-10-08 22:56] horeaporutiu opened #84 "docs say to use Node SDK or Java SDK with IBM Blockchain Platform, but IBP only takes Node.js or Go chaincode"
![screen shot 2018-10-08 at 3 54 57 pm](https://user-images.githubusercontent.com/10428517/46637782-98e82280-cb12-11e8-9eeb-e48972084a8d.png)

Docs at - https://console.bluemix.net/docs/services/blockchain/v10_application.html#using-your-connection-profile-with-the-sdk say to use Node SDK or Java, but IBP only takes Node or Go chaincode. I believe Java should be replaced with Go.

[2018-10-09 02:35] #84 closed

[2018-10-09 09:37] wjzhengsh commented on #47
Fixed.

[2018-10-09 09:37] #47 closed

[2018-12-03 06:45] sachinjha opened #102 "Fabric-CA installation on ICP should include documentation of pre-reqs"
1.Steps to install Fabric CA on ICP should include pre-reqs required for [PodSecurityPolicy as documented in the ibm-blockchian-platform-dev chart    ](https://github.com/IBM/charts/tree/master/stable/ibm-blockchain-platform-dev#podsecuritypolicy-requirements)
2. It should also include steps to add imagePullSecrets in the service account used for installation

[2018-12-07 09:05] wjzhengsh commented on #102
Thanks for the comments @sachinjha !

For PodSecurityPolicy, we have provided the instruction while you installing the IBP Helm chart on ICP: https://console.bluemix.net/docs/services/blockchain/howto/helm_install_icp.html#podsecuritypolicy-requirements.

For imagePullSecrets, it is not required because we are pulling images from either **private image registry** for Enterprise Edition or **Docker

[2019-01-14 04:55] firestarter31497 opened #111 "Hi!"
Can somebody explain what exactly a pull request is? Also, why changes to the master file?

[2019-01-17 02:15] #111 closed

[2019-02-28 19:00] danny-ibm opened #138 "IBP 2.0 Build A Network Docs requires an 'affiliation' field"
Step 4 https://cloud.ibm.com/docs/services/blockchain/howto?topic=blockchain-ibp-console-build-network#ibp-console-build-network-use-CA-org1
The affiliation field is for advanced users and is not used by the tutorial.

There's no dropdown, it's a mandatory text field. (will not let you continue)

![image](https://user-images.githubusercontent.com/42442504/53591056-26c7b700-3b61-11e9-9637-e38f303e9

[2019-03-05 12:10] josser opened #139 "The peer could not join the channel."
Hi!
I'm following tutorial https://cloud.ibm.com/docs/services/blockchain/howto?topic=blockchain-ibp-console-build-network#ibp-console-channels-create but on last step (5) I can't join peer to channel.

The only error it shows is: The peer could not join the channel.

What I can do to figure out the reason for this?

Thank you and sorry if my english is bad

[2019-03-05 14:55] josser commented on #139
Just repeated everything from first step and now I don't getting an error. Probably my mistake somewhere in forms.

[2019-03-05 14:55] #139 closed

[2019-03-06 00:23] jeancarl opened #141 "Fix variable name mismatch for the connection profile JSON object"
Under `Step four: Using the connection profile to build a fabric gateway` of the `Run the Commercial Paper sample` section (https://cloud.ibm.com/docs/services/blockchain/howto?topic=blockchain-ibp-console-app#step-four-using-the-connection-profile-to-build-a-fabric-gateway), there is a variable name mismatch in the code.

<img width="1440" alt="screen shot 2019-03-05 at 4 19 13 pm" src="https://u

[2019-03-06 01:21] wjzhengsh commented on #24
Close this issue for now as we provide limited support to Composer now.

[2019-03-06 01:21] #24 closed

[2019-03-06 01:21] wjzhengsh commented on #26
Close this issue for now as we provide limited support to Composer now.

[2019-03-06 01:21] #26 closed

[2019-03-06 01:21] wjzhengsh commented on #27
Close this issue for now as we provide limited support to Composer now.

[2019-03-06 01:21] #27 closed

[2019-03-06 01:22] wjzhengsh commented on #30
I believe this was addressed late last year.  Close this issue for now as we provide limited support to Composer now.

[2019-03-06 01:22] #30 closed

[2019-03-06 01:22] wjzhengsh commented on #31
Close this issue for now as we provide limited support to Composer now.

[2019-03-06 01:22] #31 closed

[2019-03-06 01:23] wjzhengsh commented on #32
Close this issue for now as we provide limited support to Composer now.

[2019-03-06 01:23] #32 closed

[2019-03-06 01:23] #102 closed

[2019-03-06 03:36] wjzhengsh commented on #138
Thanks for opening the issue, @danny-ibm !

We are aware of the problem and we'll keep you updated on the fix.

[2019-03-08 02:11] wjzhengsh commented on #141
@jeancarl Thanks for your comments.  We have made updates to our doc and it will take effect during our next doc push.

You are always welcomed to providing your comments to the IBM Blockchain Platform documentation.  THANK YOU!

[2019-03-08 02:11] #141 closed

[2019-03-12 05:46] wan-yong commented on #139
I meet the same problem and the kubernetes log shows
`[31m2019-03-12 05:18:16.316 UTC [main] InitCmd -> ERRO 001[0m Cannot run peer because cannot init crypto, folder "/certs/msp" does not exist`

[2019-03-20 19:54] pamandrejko commented on #138
@danny-ibm  Again, thank for you this feedback.

We have updated every place in our documentation where we mention this affiliation field and we now indicate that it is required field. For example, see step 4 in this content:
https://cloud.ibm.com/docs/services/blockchain/howto?topic=blockchain-ibp-console-build-network#ibp-console-build-network-use-CA-org1

The affiliation list drop-down should n

[2019-03-20 20:12] danny-ibm commented on #138
NP Pam! Thanks for addressing the issue :)

[2019-03-22 03:11] wjzhengsh commented on #138
I'm closing this issue.

@danny-ibm If you have other feedback, welcome to open new issues.

[2019-03-22 05:56] danny-ibm commented on #138
@wjzhengsh I don't think this issue should be closed as the platform is still showing a mandatory **textbox** and not a **dropdown** as documented. See below:

![image](https://user-images.githubusercontent.com/42442504/54803391-b84cb500-4c45-11e9-99c6-a22b77b5aeda.png)

[2019-03-22 07:16] wjzhengsh commented on #138
@danny-ibm Let's reopen it for now.  But could you try with a new service instance?  We have a code refresh this week.

[2019-03-22 12:24] pamandrejko commented on #138
Checking with development on this one

[2019-03-22 13:19] pamandrejko commented on #138
@danny-ibm Development has confirmed that you need to get a new Service Instance to see the fix.

We can leave this open until you confirm that works for you.

[2019-03-28 00:51] andrewyuau opened #161 "Add Melbourne to list of Enterprise Plan locations"
Hi team,

There have been multiple public announcements that IBP is available in Melbourne: https://www.zdnet.com/article/ibm-blockchain-platform-now-live-in-melbourne/
https://www.coinspeaker.com/ibm-blockchain-melbourne/
https://cointelegraph.com/news/ibm-launches-blockchain-platform-on-cloud-service-in-melbourne

However, the official docs ( https://cloud.ibm.com/docs/services/blockchain/refere

[2019-03-29 14:12] pamandrejko commented on #161
@andrewyuau Thank you for surfacing this issue. We are working to address the problem now.

[2019-04-04 12:46] pamandrejko commented on #161
Content has been published here: https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-ibp-regions-locations#ibp-regions-locations

[2019-04-05 09:12] hipraveen opened #166 "shim.Error is not working"
I am using below code in my chaincode ,
return shim.Error("ItemPrice and Quantity is not matched with totalAmount for Item code ")

but in API i am geting below error

{
    "success": false,
    "message": "FAILED: Error: Error: No valid responses from any peers.\nResponse from attempted peer comms was an error: {\"status\":500,\"payload\":{\"type\":\"Buffer\",\"data\":[]},\"peer\":{\"url\":\"grp

[2019-04-09 17:16] pamandrejko commented on #166
@hipraveen Thank you for your comment. Please open a support ticket so that your question can be properly addressed.

[2019-04-12 14:41] mikerault opened #169 "Can't log into cloud solution manager"
I get the error:
CWOAU0062E: The OAuth service provider could not redirect the request because the redirect URI was not valid. Contact your system administrator to resolve the problem.

When trying to access the service for blockhcain document store. Here is the URl call:

https://idaas.iam.ibm.com/idaas/oidc/endpoint/default/authorize?redirect_uri=https%3A%2F%2Fpbsa-prod.us-south.containers.myblu

[2019-04-13 00:11] 09001413 opened #170 "Where can I find the Network resource limitation about Enterprise Plan"
I read the doc and didn't find any description about the disk volume I can get when I have a Enterprise Plan. It's a very import point when our team make the decision, so could you please kindly show me where is the document?

[2019-04-13 00:12] 09001413 commented on #170
And if my ledger reached the disk volume limitation, then what should we do?

[2019-04-14 23:50] andrewyuau commented on #161
Thank you @pamandrejko I will close this.

[2019-04-14 23:50] #161 closed

[2019-04-17 11:31] mikerault commented on #169
Thanks for nothing, no help, no response, is this what clients can expect?

[2019-04-17 20:04] pamandrejko commented on #169
@mikerault We apologize for the delay in response. This is not the correct document repo for the Blockchain document store.  I believe the documentation you are referring to is located here
https://cloud.ibm.com/docs/services/blockchain-document-store?topic=blockchain-document-store-what-s-new#what-s-new?

You would need to open your issue against this repo:
https://github.com/IBM-Bluemix-Docs/blo

[2019-04-18 12:39] pamandrejko commented on #170
Thank you for your comment. We are working to get an answer for you.

[2019-04-18 12:56] pamandrejko commented on #170
@09001413 Currently there is no storage limitation on Enterprise Plan networks.

If you have specific questions or need to learn more we would be happy to work with you

[2019-04-18 13:52] 09001413 commented on #170
@pamandrejko Got it, thank you for your answer. Have a nice day!

[2019-04-18 16:47] #170 closed

[2019-04-22 14:25] ibmmark commented on #170
@09001413 let me know if you wanted to discuss particular options on this item as there are a few right now.

[2019-04-24 00:58] andrewyuau opened #178 "Correct link for IBP Locations"
At https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-enterprise-plan-about#enterprise-plan-about , in "For a list of available geographies, see IBM Blockchain Platform locations.", the link is broken. It should be https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-ibp-regions-locations#ibp-regions-locations .

[2019-04-24 01:49] yingmsky commented on #178
@pama-ibm @wjzheng FYI

[2019-04-24 02:02] wjzhengsh commented on #138
@danny-ibm How are you? Have you had a chance to provision new service instance to test out the latest version of the IBM Blockchain Platform console? We hope the problem is fixed.

[2019-04-24 04:04] wjzhengsh commented on #178
Fixed.  @andrewyuau @yingmsky Please check.  Thanks for your comment!

[2019-04-25 23:56] andrewyuau commented on #178
Thanks!

[2019-04-25 23:56] #178 closed

[2019-05-05 18:34] nizar206 opened #181 "Unable to get system channel. Ensure MSP ID used has access to system channel and the appropriate identity is used."
when i try to add a Consortium member from the orderer i get this message "Unable to get system channel. Ensure MSP ID used has access to system channel and the appropriate identity is used." . I already repeated the network 2 times but i still get the same problem .

[2019-05-08 18:30] pamandrejko commented on #181
@nizar206 I verified that there are no known issues around this problem.

I went through the steps in the tutorial this morning and did not encounter this problem.

Is  it  possible for you to follow along with the videos?  https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-ibp-videos#ibp-videos-ibp-v2

Otherwise,
- Ensure you see the green status indicator on the orderer to be sure t

[2019-05-11 16:51] nizar206 commented on #181
@pamandrejko thank you for reply , I tried to follow the tutorial again but i still get the same problem I even tried to change my browser but no effect .
![image](https://user-images.githubusercontent.com/50301961/57572654-ef9d3e00-740c-11e9-8a81-e780ccbca011.png)

[2019-05-12 19:35] pamandrejko commented on #181
Can you confirm your console wallet has 2 identities
<img width="814" alt="Screen Shot 2019-05-12 at 3 28 41 PM" src="https://user-images.githubusercontent.com/36892852/57586909-b3301780-74ca-11e9-9fe5-cf37261d83f8.png">
 in it?

It looks like your ordering service is missing an administrator. Here is mine (I called it orderer2, instead of orderer1)
<img width="939" alt="Screen Shot 2019-05-12 at

[2019-05-14 01:55] nizar206 commented on #181
@pamandrejko this is my wallet
![image](https://user-images.githubusercontent.com/50301961/57664975-b8d04f00-75e9-11e9-867b-d730194d2b3d.png)

and this is my orderer
![image](https://user-images.githubusercontent.com/50301961/57665341-fe414c00-75ea-11e9-8efa-41b9055b459f.png)

 I don't why i get this problem
![image](https://user-images.githubusercontent.com/50301961/57665415-4b252280-75eb-11e9-87

[2019-05-14 15:44] pamandrejko commented on #181
@nizar206 Your screenshots all look good to me.

The only other thing I can think of is - if your service instance is older (which is fine) and it got updated with a recent beta code update, maybe it is somehow corrupted?

A more drastic measure would be to delete this service instance and create a brand new service instance to see if that helps?

It looks like you are doing everything correctly t

[2019-06-03 12:44] pamandrejko commented on #181
@nizar206 We have GA'd our solution. I would encourage you to try again and see if you are still experiencing the same problem.

Note that you cannot migrate your existing solution to the GA release. You would need to provision a new service instance in IBM Cloud.

[2019-06-04 21:40] SandySun2000 opened #196 "Need to hide the source code but to show the link reference."
https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-dev-app#dev-app-enroll

Need to hide the source code, but only expose the link reference.

If you don't have a blockchain network on IBM Cloud, you need to create one with either a Starter or Enterprise Membership Plan. For more information, see Creating a Starter Plan network or [Creating an Enterprise Plan network](/docs/services/bl

[2019-06-04 21:49] pamandrejko commented on #196
Nancy could you take a look at this one?

[2019-06-07 18:43] pamandrejko commented on #196
PR: https://github.com/IBM-Bluemix-Docs/blockchain/pull/197

[2019-06-07 18:54] pamandrejko commented on #196
@SandySun2000 The link has been fixed. Can you verify and close this issue if you are satisfied? https://cloud.ibm.com/docs/services/blockchain/howto?topic=blockchain-dev-app#dev-app-prerequisites

[2019-06-07 18:57] SandySun2000 commented on #196
I verified the change, and the doc looks good now.

[2019-06-07 18:57] #196 closed

[2019-06-07 19:21] pamandrejko commented on #138
Closing as the flow as now changed and the doc has been updated.

[2019-06-07 19:21] #138 closed

[2019-06-07 19:22] pamandrejko commented on #169
Closing an the submitter has not responded and this issue is against a different product.

[2019-06-07 19:22] #169 closed

[2019-06-12 03:49] harsha544 opened #198 "Deploying Certificate authority on IBM-ICP"
URL https://cloud.ibm.com/docs/services/blockchain-icp-102?topic=blockchain-icp-102-ca-deploy#ca-deploy is no longer accessible

[2019-06-12 14:40] pamandrejko commented on #198
@harsha544 Thank you. We are in the process of updating our repo for new content and during that time you may experience some broken links. We are working to address this as quickly as possible.

[2019-06-12 16:16] pamandrejko commented on #198
The link should work now, please try again. Thank you for sharing this with us.

[2019-06-12 16:32] harsha544 commented on #198
Thank you, I can confirm it's working now.

[2019-06-12 16:32] #198 closed

[2019-06-24 10:05] bannyle opened #213 "Unable to login Blockchain Platform console 2.0"
After deploy IBM Blockchain Platform 2.0 on ICP 3.2, the Blockchain Platform console is not able to login due to with following error message:
"""""
[notice] 2019-06-24T10:00:17.841670Z nonode@nohost <0.313.0> -------- chttpd_auth_cache changes listener died database_does_not_exist at mem3_shards:load_shards_from_db/6(line:395) <= mem3_shards:load_shards_from_disk/1(line:370) <= mem3_shards:load_s

[2019-06-24 10:09] bannyle opened #214 "Blockchain Platform 2.0 console is not able to login due to Incorrect credentials"
Blockchain platform 2.0 is installed on ICP 3.2, the Blockchain console is not able to login due to Incorrect credentials.
The error message from 'couchdb' container is like this
""""""
[notice] 2019-06-24T10:00:17.841670Z nonode@nohost <0.313.0> -------- chttpd_auth_cache changes listener died database_does_not_exist at mem3_shards:load_shards_from_db/6(line:395) <= mem3_shards:load_shards_from_d

[2019-06-24 10:13] #213 closed

[2019-06-24 10:13] bannyle commented on #213
duplicated

[2019-06-24 18:21] nikhil550 commented on #214
Moving to Helm charts repo.

[2019-07-10 19:42] pvrbharg opened #219 "Re. "Aw, Snap!" page crashes and other page loading errors"
The following URL keeps giving this error every time while reviewing the pricing example - using every browser - Firefox, Chrome, MS Edge. Unless we have a fix for this issue - this is a useless webpage - that is critical for everyone. I am using WIndows 10 laptop.

![image](https://user-images.githubusercontent.com/5838902/60995210-10581600-a320-11e9-9066-bc6bd412f1d9.png)

Thanks.
[WebPageDispla

[2019-07-10 20:07] nikhil550 commented on #219
Not sure what is in the zip file. Can you send me the link?

[2019-07-10 20:10] nikhil550 commented on #214
@bannyle  This problem is a result of deploying the helm chart to a non default namespace. To deploy the helm chart to a non-default namespace, you need to apply the following security and access policies to your namespace before deploying the pod: https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-console-helm-install#console-helm-install-setup-psp. Follow the updated documentation a

[2019-07-10 20:10] #214 closed

[2019-07-10 20:15] pvrbharg commented on #219
You would get the answer by seeing what is in the zip, Nikhil! Did you try to see what is in the zip? Why do you think I took trouble to create the zip in the first place?

[2019-07-10 20:45] nikhil550 commented on #219
https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-ibp-saas-pricing#ibp-saas-pricing-scenarios. I tried to recreate this issue on firefox and chrome and did not run into this issue.

There are no animations, gifs, or other images in this portion of the documentation. I do not know why there would be an issue with this section? Could you retest and send some browser logs if you experie

[2019-07-10 20:49] pvrbharg commented on #219
Do you want me to demo this to you? It happens everytime on my machine with 3 browsers. You can collect whatever logs you want or debug directly on my laptop. Let me know your IBM email and I can webx with you to show you this issue.

I would not have this issue closed - just because you can replicate this or it does not happen on our laptop.

Please advise. Thanks.

[2019-07-10 21:16] joealewine commented on #181
@nizar206 The "unable to get system channel" error often occurs when the UI is not able to talk to the cluster. I would suggest refreshing your UI/cluster which you can do by clicking on the instance name in your Kubernetes dashboard, clicking "Resource List", then on the name of the service, then on "Console support", and finally on "refresh your connected cluster".

When that process is complete

[2019-07-10 21:38] pamandrejko commented on #219
Thank you for reporting this issue. One of our developers was able to recreate it on his WIndows machine. We are currently investigating.

[2019-07-10 21:39] pamandrejko commented on #219
@sefuhrer

[2019-07-11 00:38] pvrbharg commented on #219
Dear Pam, You are my hero and thank you so much for getting rid of this nuisance for everyone. Your fix accurately took care of my issue and I am good. Regards.

[2019-07-11 00:41] pvrbharg commented on #219
We can close this issue now. I am good on my Windows 10 laptop with all 3 browsers! Great work and help. Thank you again Pam!

[2019-07-11 12:37] #219 closed

[2019-08-15 01:51] dehezhang2 opened #244 "Fail to submit transaction"
In the last step: `node invoke-transactions.js` doesn't work, here is the error message:
`2019-08-15T01:36:53.681Z - error: [Network]: _initializeInternalChannel: no suitable peers available to initialize from
Failed to submit transaction: Error: no suitable peers available to initialize from`
I think the error happens when the line 40: `const network = await gateway.getNetwork(channelName);` is e

[2019-08-15 12:34] pamandrejko commented on #244
@nikhil550 Could you take a look at this issue?

[2019-08-19 15:29] nikhil550 commented on #244
Thanks @dehezhang2 for reaching out. This error looks likely to be an service discovery error. Did you configure anchor peers on your channel?

The documentation does mention the need to configure anchor peers, but given how many errors come from that step, it could be made more prominent.

[2019-08-20 16:46] pamandrejko commented on #181
@nizar206 The Beta trial program has now ended, so I am going to close out this issue. As I indicated above I would encourage you to try again with the GA level code here https://cloud.ibm.com/catalog/services/blockchain-platform

If you link your blockchain service instance to a free Kubernetes cluster on IBM Cloud, you will not be charged for IBM Blockchain Platform. Be aware though that a free

[2019-08-20 16:46] #181 closed

[2019-08-20 16:47] pamandrejko commented on #166
No response from reporter so I am closing this issue for now.

[2019-08-20 16:47] #166 closed

[2019-08-23 02:01] ALuongIBM opened #248 "Confusing Verbiage"
I find it slightly confusing that on one section, `Cluster and operating system security` it notes `Data is encrypted during transit to IBM Cloud Object Storage and at rest.`, and then under 'Storage' it says 'Data at rest, that is in storage, can also be encrypted. When the blockchain console deploys a node, storage is dynamically provisioned for that node from persistent storage. You have the op

[2019-08-23 18:30] pamandrejko commented on #244
@negupta - Can you paste a link in here to the docs where you tried to make this more clear

[2019-08-23 21:15] pamandrejko commented on #248
The section titled `Cluster and operating system security` addresses (sensitive)
**Cluster configuration data** and how to encrypt that since it is sensitive data
whereas the section titled `Storage` addresses **peer, ordering service and CA** storage and how you can encrypt that.

Is it the `Data at rest` bit that is throwing you off?

[2019-08-28 02:26] tomxucnxa commented on #244
I am facing the same issue.
Anchor peers are configured, discovery is enabled in connection profile...
Query chaincode is fine, but submitting transaction gets failed.

[2019-08-28 03:04] tomxucnxa commented on #244
But eventually it gets success, after double check and confirmation.
Anchor peers are added. Attached all files:
[application.tar.gz](https://github.com/ibm-cloud-docs/blockchain/files/3548916/application.tar.gz)

[2019-08-29 00:49] nikhil550 commented on #244
Hi @tomxucnxa, what updates did you make to the connection profile? Did you need to download a new connection profile after you updated your anchor peers?

[2019-08-29 01:14] tomxucnxa commented on #244
@nikhil550 It seems that the connection profile has not any change.
I suggest making a 'query' (evaluateTransaction) calling to confirm the basic network health.
And, please ignore section '_channels' in my connection profile, that is for testing purpose.

[2019-08-30 10:40] keith-harrison-broninski opened #250 "IBM Blockchain Platform Extension for VS Code disconnects from WSL Ubuntu"
On opening the extension, VS Code disconnects from WSL Ubuntu and cannot reconnect.

Also, the Extension icon is not shown in the navigation bar, just a blank spot where it should be (still clickable to open the extension).

Windows 10 Pro 10.0.18362
Visual Studio Code 1.37.1
IBM Blockchain Platform Extension for VS Code 1.0.8

[2019-08-30 11:49] pamandrejko commented on #250
Thank you Keith. We are looking into this and will get back to you.

[2019-08-30 11:59] cazfletch commented on #250
Hi @keith-harrison-broninski the icon disappearing is a problem with VS Code that we have no control over.

Can you provide some more details for the other problem please? You say when you open the extension VS Code disconnects from WSL Ubuntu i'm not sure what you mean by this

[2019-08-30 12:40] keith-harrison-broninski commented on #250
Hi @cazfletch
On opening the extension, for example by clicking where the icon should be, it shows the panels for the extension but at the bottom left hand side instead of "WSL: Ubuntu" it changes to "Disconnected from WSL: Ubuntu", and brings up a dialog "Attempting to reconnect...".
Best, Keith

![VS Code before opening IBM Blockchain Extension](https://user-images.githubusercontent.com/2794023/

[2019-08-30 12:58] cazfletch commented on #250
Oh you are using the new remote feature in vscode - can you raise this issue here https://github.com/IBM-Blockchain/blockchain-vscode-extension/ please and i will look into it

[2019-08-30 13:18] keith-harrison-broninski commented on #250
@cazfletch

https://github.com/IBM-Blockchain/blockchain-vscode-extension/issues/1357

Closing this one

Thanks, Keith

[2019-08-30 13:18] #250 closed

[2019-09-25 06:22] aldredb opened #251 "MSP does not need to join a consortium to join an existing channel"
The statement below in the documentation https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-ibp-console-join-network#ibp-console-join-network-add-org2 is not correct:

[code]
It is *okay* for an organization to not be in a consortium to join an existing channel, according to:
* https://hyperledger-fabric.readthedocs.io/en/release-1.4/network/network.html#the-sample-network
* My attemp

[2019-09-25 12:51] pamandrejko commented on #251
Thank you for your feedback. We will take a look.

[2019-09-30 14:06] #244 closed

[2019-10-03 15:34] joealewine commented on #251
Thank you for bringing this to our attention. This has now been fixed in prod.

https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-ibp-console-build-network#ibp-console-build-network-add-org

[2019-10-03 15:34] #251 closed

[2019-10-25 18:13] horeaporutiu opened #252 "last updated date is not showing up correctly"
![Screen Shot 2019-10-25 at 11 11 33 AM](https://user-images.githubusercontent.com/10428517/67594063-65296c00-f718-11e9-8940-ceefbc8b4d9e.png)

https://cloud.ibm.com/docs/services/blockchain/howto?topic=blockchain-ibp-console-build-network#ibp-console-build-network

[2019-10-25 18:42] pamandrejko commented on #252
Thanks for reporting this.

PR: https://github.ibm.com/cloud-docs/blockchain/pull/1970

Fix should show up in Prod in about 30 mins after the build completes.

[2019-10-27 21:16] pamandrejko commented on #252
Fixed. Closing.

[2019-10-27 21:16] #252 closed

[2020-02-16 03:23] usnmas opened #253 "install error ( 'Local Fabric' folder) on ubuntu"
When I install IBM blockchain extention on VIsual Studio Code, the generated folder name is incorrect.

I am using Windows 10 on my laptop, and tried "remote installation" of the extension, but a folder under "/home/user/.fabric-vscode/environments/" is generated with a space in the name, like 'Local Fabric', which is for Windows not for unix, so that some files under the folder are not available

[2020-02-16 03:47] #253 closed

[2020-02-16 03:47] usnmas commented on #253
Moving this issue to https://github.com/IBM-Blockchain/blockchain-vscode-extension

[2020-02-27 22:22] pvrbharg opened #254 "Does IBM recommend live and running IBP CA/Fabric CA in a well architected permissioned blockchain network? Please read on for the context"
Hello,

Context:

Customers are making statements - such as "Fabric CA or IBP CA components are not allowed into our Enterprise by our InfoSec"
Some blockchain practitioners are also making statements such as - "Fabric CA and IBP CA are not required since documentation says - OpenSSL can be used"

My personal opinion:
You cannot remove Fabric CA or IBP CA from the Hyperledger Blockchain Permission

[2020-02-28 20:20] pvrbharg commented on #254
What if we get to the next comment indicated below here [fictitious and I HAVE NOT HEARD THIS STATEMENT - I AM MAKING UP]:

Customers making statements - such as "RAFT consensus or IBP consensus components are not allowed into our Enterprise by our Kafka/ZKP teams"
Some blockchain practitioners making statements such as - "RAFT consensus or IBP consensus components are not required since documenta

[2020-03-06 02:35] rmm-sk opened #255 "Request for more info on key management"
"These keys are stored in the browser when they are added to the member's blockchain wallet so that the console can use them to manage blockchain components."
 - will the console itself require a private key issued off the IBP CA?
 - if yes, can the description of the key creation process be included in this doc (outlining where private key created & stored - indicating if HSM will be used when it

[2020-03-06 02:38] rmm-sk opened #256 "Clarification request for info in Key Management section"
"Although you can use the IBM Blockchain Platform console to generate private keys, those keys are not permanently stored by the console or the cloud (**public keys, on the other hand, are stored in the browser and added to the member's wallet so that the console can use them to manage blockchain components**), making customers ultimately responsible for the storage, backup, and disaster recovery

[2020-03-06 19:50] pamandrejko commented on #255
Thank  you for your comments here. When HSM support is added to the product we can address these questions.

[2020-03-09 16:40] pamandrejko commented on #256
@rmm-sk Thank you for your feedback on this topic. I am updating it to say:

```Although you use the IBM Blockchain Platform console to generate the certificates and private keys, they are not _permanently_ stored by the browser or the cloud database. Public and private keys are temporarily stored in the browser and added to the member's wallet so that the console can use the private key to digita

[2020-04-14 01:30] bobbiejc opened #257 "Reference to IBM Cloud Private..."
This sentence is on our HA page: https://cloud.ibm.com/docs/blockchain?topic=blockchain-ibp-console-ha

If you are using IBM Cloud Private, review the content about Implementing HA on IBM Cloud Private.

[2020-04-14 12:03] pamandrejko commented on #257
Thanks @bobbiejc . That sentence is there because this repository contains the MultiCloud IBP4ICP documentation which uses IBM Cloud Private. To avoid confusion with our Software offering, we are actually in the process of removing that content to its own repository. Once that has occurred we can remove this sentence.

[2020-04-14 14:50] nikhil550 commented on #257
Thanks for bringing this our attention. I will remove this sentence from our docs.

[2020-04-23 20:43] nikhil550 commented on #257
Hey @bobbiejc @bobbiejc All instances of IBM Cloud private have been removed from this topic: https://cloud.ibm.com/docs/services/blockchain?topic=blockchain-ibp-console-build-ha-ca

The whole repo has been cleansed of IBM Cloud private and multicloud references after moving those docs to their own repo.

[2020-04-23 20:43] #257 closed

[2020-05-11 16:43] pamandrejko commented on #255
closing - duplicate

[2020-05-11 16:43] #255 closed

[2020-06-19 13:36] pamandrejko commented on #256
No response in 3 months after addressing issue so closing.

[2020-06-19 13:36] #256 closed

[2020-07-01 00:05] cdmauney opened #261 "Prohibited term: whitelist"
Do not use. Use "allowlist" instead. Use as a noun.

https://cloud.ibm.com/docs/blockchain?topic=blockchain-ibp-console-import-nodes

[2020-07-02 00:14] pamandrejko commented on #261
Fix and published here: https://cloud.ibm.com/docs/blockchain?topic=blockchain-ibp-console-import-nodes#ibp-console-import-icp

[2020-07-02 00:14] #261 closed

[2020-09-11 16:27] pamandrejko commented on #254
@pvrbharg
A) IBP fully supports using certificates from an external CA (one that is not created by the console or APIs or Fabric).
This is documented here https://cloud.ibm.com/docs/blockchain?topic=blockchain-ibp-console-adv-deployment#ibp-console-adv-deployment-third-party-ca

B) Also, if they choose to not have a CA in their console, then they are responsible for manually building an MSP and us

[2020-12-09 13:20] pamandrejko commented on #254
Since we have now doc'd how to use certs from an external CA and an intermediate CA and created tutorials for that information, I am closing this issue. Feel free to open further issues if you think that additional actions need to be taken.

Using certs from an external CA: https://cloud.ibm.com/docs/blockchain?topic=blockchain-ibp-tutorial-extca
Creating an intermediate Certificate Authority (CA)

[2020-12-09 13:20] #254 closed

[2020-12-09 18:38] pvrbharg commented on #254
@pamandrejko Dear Pam. Thank you and I am good. Best wishes.

[2021-03-05 16:09] smoady opened #263 "HealthCenter"
Main Goal: Creating a network that allows the transmission of data between users using blockchain.

[2021-03-05 18:10] pamandrejko commented on #263
@smoady
Thank you for your comment.

Is there something specific you want changed in the documentation here?

[2021-03-15 20:41] pamandrejko commented on #263
No response after 10 days. Closing. Feel free to reopen if you have more details.

[2021-03-15 20:41] #263 closed

[2021-04-01 09:26] alfalfs opened #264 "Repetition in doc"
Developing smart contracts with IBM Blockchain Platform Developer Tools

link: https://cloud.ibm.com/docs/blockchain/howto?topic=blockchain-develop-vscode

The IBM® Blockchain Platform Developer Tools provide an environment within Visual Studio Code or Red Hat CodeReady Workspaces for developing, packaging, and testing smart contracts. You can use the tools to create your smart contract project an

[2021-05-03 15:33] jyylui commented on #264
Solved.

[2021-08-09 01:39] ghost opened #265 "Image with wrong text format"
I think there's something missing here.
https://cloud.ibm.com/docs/blockchain?topic=blockchain-ibp-saas-pricing#ibp-saas-pricing-elements

![image](https://user-images.githubusercontent.com/79819052/128652726-18f76869-76e0-4dc7-807a-471a151c9292.png)

[2021-10-13 12:33] BFuhry opened #266 "Page content displayed incorrect"
On some pages of the docu, the content is not displayed/rendered correctly.

A not not exhaustive list of examples:
- https://cloud.ibm.com/docs/blockchain?topic=blockchain-ibp-v2-apis#ibp-v2-apis-retrieve-service-credentials
![image](https://user-images.githubusercontent.com/89401140/137132618-8bdda2e1-92cf-4f75-81b0-62e8eb0df618.png)
- https://cloud.ibm.com/docs/blockchain?topic=blockchain-ansib

[2022-10-20 06:27] irsanss opened #268 "Bad documentation"
Documentation for the IBM Support for Hyperledger Fabric is a current IBM product offering; the [documentation is available at https://www.ibm.com/docs/en/hlf-support/1.0.0](https://www.ibm.com/docs/en/hlf-support/1.0.0).

1. The above link is not helpful or you are not providing the correct link
2. There is no migration steps.migration recommendation, help available from IBM cloud, impact to clou